*{
    margin: 0%;
    padding: 0%;
}

.grupo{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    background-color: #9e0404;
    color: #2e2121;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #0a0303;
    text-decoration: none;
    margin-left: 15px;
}

.menu a:hover{
    color: #ff0101;
}

.conteudo{
    display: flex;
    height: 200px;
}

.navegacao{
background-color: #9e0404;
display: inline-block;
width: 30%;
padding: 10px;
}

.navegacao ul{
    list-style: none;
    padding: 0;
}

.navegacao li{
    margin-bottom: 10px;
}

.sessao{
background-color: #9e0404;
display: inline-block;
width: 70%;
padding: 10px;
}

.sessao p{
    margin-bottom: 10px;
}

.rodape{
background-color: #9e0404;
padding: 10px;
}